<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="language=='English'">Terms and Condiitons</ion-title>
    <ion-title *ngIf="language=='عربي'">الشروط والأحكام</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 0.2cm;">
    <p *ngIf="language=='عربي'" style="text-align: right;">
     الأهلية والتسجيل:
 للاستفادة من ميزات وخدمات تطبيق TripleFour ، يجب أن يكون عمر المستخدم أكثر من ثمانية عشر عامًا.
 يجب على المستخدم التأكد من أن التفاصيل التي قدمها عند التسجيل أو في أي وقت آخر صحيحة وكاملة.
 <br> الملكية الفكرية:
  محتوى تطبيق TripleFour محمي بموجب حقوق النشر والعلامات التجارية وقاعدة البيانات وحقوق الملكية الفكرية الأخرى.  يمكنك استرداد محتوى تطبيق TripleFour وعرضه على شاشة الهاتف المحمول ، أو طباعة نسخة واحدة من هذا المحتوى لاستخدامك الشخصي غير التجاري ، بشرط أن تحافظ على جميع إخطارات حقوق النشر والملكية كما هي.  لا يجوز لك بخلاف ذلك إعادة إنتاج أو تعديل أو نسخ أو توزيع أو استخدام أي من المواد أو المحتوى في تطبيق TripleFour لأغراض تجارية دون إذن كتابي من تطبيق TripleFour.
 <br> قبول الطلبات:
 عندما تضع طلبًا معنا ، ثم تخضع لحقوقك في إلغاء العناصر أو إرجاعها ، فإنك تلتزم بشراء العناصر الموضحة في هذا الطلب ، بالسعر المشار إليه بما في ذلك أي رسوم توصيل ورسوم معالجة نقدية وضرائب ورسوم عند الاقتضاء.
 تخضع الطلبات لقبولنا ، والذي قد نحجبه وفقًا لتقديرنا الخاص بما في ذلك لأسباب مثل عدم الأهلية وعدم القدرة على تأكيد تفويض الدفع والاحتيال المشتبه به وقيود الشحن وتوافر المخزون.  لا يتم حجز العناصر الموجودة في سلة الطلبات الخاصة بك حتى يتم سداد قيمة طلبك.  عندما تختار أولاً دفع ثمن طلبك نقدًا عند التسليم ، سنرسل إليك رسالة نصية قصيرة لمرة واحدة تطلب منك التحقق من صحة اختيارك وتأكيد معلومات حسابك قبل الإرسال.  الرجاء النقر فوق الارتباط الموجود في رسالة SMS لإكمال خطوة التحقق هذه.  إذا لم تكمل هذه الخطوة ، فلن يتم حجز العناصر الخاصة بك وفي غضون 3 أيام تقويمية من اليوم الذي أرسلنا فيه رسالة SMS إليك ، فسنقوم بإلغاء طلبك.
 <br> أنظمة الخصم والرموز الترويجية:
 الرموز الترويجية صالحة فقط وفقًا لشروطها ، حتى التاريخ المذكور ، يمكن استخدامها مرة واحدة فقط ، ولا يمكن استبدالها نقدًا ولا يمكن استخدامها جنبًا إلى جنب مع أي عرض أو بيع أو ترويج آخر.  إنها شخصية لك ولا يمكن نقلها إلى جهات خارجية.  خصومات Inner Circle غير متوفرة حاليًا للطلبات المقدمة من خلال التطبيق أو عبر مركز الاتصال الخاص بالتطبيق.

 <br> المنتجات المعيبة:
 إذا وصلت منتجاتك تالفة أو كانت معيبة ، فيمكنك إعادتها والحصول على استرداد أو منتج بديل.
 <br> الدفع:
 سيتم دفع ثمن منتجاتك في الوقت الذي تقدم فيه طلبك.
 سيتم تشفير تفاصيل بطاقة الائتمان / الخصم الخاصة بك وفقًا لأعلى المعايير والاحتفاظ بها على بوابة الدفع Cyber ​​source Host ، الآمنة من المتسللين.
 عند الطلب من تطبيق trupleFour ، فإننا نقبل الطلبات فقط من متصفحات الويب التي تسمح بالاتصال من خلال تقنية Secure Socket Lawyer (SSL) ، على سبيل المثال الإصدار 7.0 أو أعلى من Internet Explorer ، الإصدار 3.5 أو أعلى من Firefox أو Chrome الإصدار 10 أو أعلى و  الإصدار 5 من Safari من أعلى.  هذا يعني أنه لا يمكنك تقديم طلب عن غير قصد من خلال اتصال غير آمن.
 <br> مسؤولية المنتجات:
 من خلال تقديم طلب من خلال تطبيقنا ، فإنك تقر وتوافق على أن المسؤولية الكاملة عن المنتجات تقع على عاتق الشركة المصنعة وأننا لا نتحمل أي مسؤولية عن هذه المنتجات باستثناء ما هو موضح في قسم المرتجعات فيما يتعلق بإعادة المنتجات واسترداد السعر المدفوع  (عند الاقتضاء).
 <br> مواقع / إعلانات الطرف الثالث:
 قد يتضمن تطبيقنا روابط تشعبية لمواقع أو موارد أخرى تديرها أطراف ثالثة.  نحن لسنا مسؤولين عن محتوى أو دقة أي صفحات غير موجودة على موقعنا أو مدى توفرها.  نحن لا نؤيد ولسنا مسؤولين ، بشكل مباشر أو غير مباشر ، عن سياسات الخصوصية الخاصة بهذه التطبيقات ، بما في ذلك (على سبيل المثال لا الحصر) أي إعلانات أو منتجات أو مواد أو خدمات أخرى موجودة أو متوفرة من هذه المواقع أو الموارد ، ولا عن أي ضرر أو خسارة  أو جريمة ناجمة عن أو فيما يتعلق باستخدام أو الاعتماد على أي محتوى أو سلع أو خدمات متوفرة على هذه المواقع أو الموارد الخارجية.
  </p>
  <p *ngIf="language=='English'">
    1-	Eligibility and registration:
In order to take advantage of the features and services of  TripleFour application, the user must be over eighteen years of age.
The user must ensure that the details provided by you on registration or at any other time are correct and complete.
<br>2-	Intellectual property:
 The content of TripleFour application is protected by copyright, trademarks, database and other intellectual property rights. You may retrieve and display the content of TripleFour application on a mobile screen, or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on TripleFour application without written permission from TripleFour application.
 <br>3-	Acceptance of orders:
When you place an Order with us, then subject to your rights to cancel or return the items, you commit to buy the items described in that Order, at the price indicated including any delivery fees, cash handling fees, taxes and duties where applicable.
Orders are subject to our acceptance, which we may withhold in our sole discretion including for reasons such as ineligibility, inability to confirm payment authorization, suspected fraud, shipping restrictions and stock availability. Items in your application basket are not reserved until your Order is paid for. Where you first elect to pay for your Order via cash on delivery, we will send you a one-off SMS asking you to validate your election and confirm your account information prior to dispatch. Please click on the link contained in the SMS to complete this verification step. If you do not complete this step your items will not be reserved and within 3 calendar days of the day on which we sent you the SMS, we will cancel your Order.
<br>4-	Discount schemes and promotional codes:
Promotional codes are valid only in accordance with their terms, until the date stated, can be used only once, are not redeemable for cash and cannot be used in conjunction with any other offer, sale or promotion. They are personal to you and cannot be transferred to third parties. Inner Circle discounts are currently not available for Orders placed through the application or via the application Call Centre.

<br>5-	Faulty products:
If  your products arrive damaged or they are faulty, you may return them and obtain a refund or replacement product. 
<br>6-	Payment: 
Payment for your products will be taken at the time you place your order.
Your credit/debit card details will be encrypted to the highest standard and held on the Cyber source Host payment gateway, secure from hackers.
When ordering from the trupleFour application, we accept orders only from web browsers that permit communication through Secure Socket Lawyer (SSL) technology, for example a 7.0 version or higher of Internet Explorer, version 3.5 or higher of Firefox, Chrome version 10 or higher and Safari version 5 of higher. This means that you cannot inadvertently place an order through an unsecured connection.
<br>7-	Products liability: 
By placing an Order through our Application, you acknowledge and agree that full liability for the products rests with the manufacturer and that we carry no product liability for those items save as described in the Returns section in relation to returning the products and refunding the price paid (where applicable).
<br>8-	Third party sites/ ads:
Our application may include hyperlinks to other websites or resources operated by third parties. We are not responsible for the content or accuracy of any pages that are not on our Website or their availability. We do not endorse and are not liable, directly or indirectly, for the privacy policies of such applications, including (without limitation) any advertising, products or other materials or services on or available from such websites or resources, nor for any damage, loss or offence caused by, or in connection with, the use of or reliance on any such content, goods or services available on such external websites or resources.
  </p>
  </ion-card>
</ion-content>
