<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='consumer-home'></ion-back-button>
    </ion-buttons>
    <ion-title>Wishlist</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf='wishlist.length<=0 && empty' >
  <div class="empty-cart">
      <ion-text style="font-size: x-large;">You have no items in your wishlist</ion-text><br>
      <ion-button routerLink= '/consumer-home'>Home Page</ion-button>
    </div>
</ion-content>
<ion-content ion-content *ngIf='wishlist.length>0'>
  <ion-item-sliding *ngFor="let item of wishlist; let i=index" >
    <ion-item-options side="start">
      <ion-item-option color='light' ><ion-icon color='danger' name="trash-outline"></ion-icon></ion-item-option>
    </ion-item-options>
    <ion-item routerLink= '/item-details/{{item.id}}'>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-avatar style="margin: auto;">
              <img *ngIf="products[i]" [src]="products[i].photo">
              <img *ngIf="!products[i]" src="../../../assets/images/item.png">
            </ion-avatar>
          </ion-col>
          <ion-col class='alignCol' *ngIf="products[i]">
            {{products[i].name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-sliding>
</ion-content>
