<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="language=='English'">settings</ion-title>
    <ion-title *ngIf="language=='عربي'"> اعدادات </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header *ngIf="language=='English'">
      Select a language
    </ion-card-header>
    <ion-card-header style="text-align: right;" *ngIf="language=='عربي'">
      اختر احدى اللغتين التاليتين
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]="language">
          <ion-select-option>عربي</ion-select-option>
          <ion-select-option>English</ion-select-option>
        </ion-select>
      </ion-item>
      <div style="text-align: center;" *ngIf="language=='English'">
        <ion-button type="submit" expand="block"  (click)="Save()">Save</ion-button>
      </div>
      <div style="text-align: center;" *ngIf="language=='عربي'">
        <ion-button type="submit" expand="block"  (click)="Save()">حفظ</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
