<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button *ngIf="uType=='Merchant'" defaultHref= '/merchant-home'></ion-back-button>
    </ion-buttons>
    <ion-title>add-item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card >
      <ion-card-content> 
      <div>
        
        <ion-card style="margin: auto;">
          <img *ngIf="photo" [src]="photo">
          <img *ngIf="!photo" src="../../../assets/images/item.png">
        </ion-card> 
        <ion-input type="file" (change)="HandleFileSelect($event)"></ion-input>
      </div>
    </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <form [formGroup]="validations_form">
  
      <ion-card>
        <ion-card-content>
            <ion-item >
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Type</ion-label>
              <ion-input type="text" formControlName="type"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.type">
                <div class="error-message" *ngIf="validations_form.get('type').hasError(validation.type) && (validations_form.get('type').dirty || validations_form.get('type').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Price</ion-label>
              <ion-input type="text" formControlName="price"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.price">
                <div class="error-message" *ngIf="validations_form.get('price').hasError(validation.type) && (validations_form.get('price').dirty || validations_form.get('price').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Quantity</ion-label>
              <ion-input type="number" formControlName="quantity"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.quantity">
                <div class="error-message" *ngIf="validations_form.get('quantity').hasError(validation.type) && (validations_form.get('quantity').dirty || validations_form.get('quantity').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.description">
                <div class="error-message" *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
           
            <div style="text-align: center;">
              <ion-button type="submit" expand="block" [disabled]="!validations_form.valid" (click)="Additem(validations_form.value)">Add</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </form>  
  </ion-card>
</ion-content>
