<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let offer of offers">
        <img src="..\..\assets\images\{{offer}}">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-item>
    <ion-searchbar placeholder="search products names" showCancelButton="never" color='light' (ionInput)="getItems($event)"></ion-searchbar>
    <ion-icon (click)="filter()" [name]="filterIcon"></ion-icon>
  </ion-item>
  <div *ngIf="showFilter">
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="categoryFilter">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="food">food</ion-select-option>
        <ion-select-option value="kitchen">kitchen</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="priceRange.lower" class="ion-no-margin rangeInput"></ion-input>
      <ion-range [(ngModel)]="priceRange" id="price-range" dual-knobs pin color="dark" min="0" [max]='maxPrice'>
      </ion-range>
      <ion-input [(ngModel)]="priceRange.upper" class="ion-no-margin rangeInput"></ion-input>
    </ion-item >
    <div class="centerItems">
      <ion-button color="dturquoise" fill="outline" (click)="saveFilter()">Save</ion-button>
      <ion-button color="lturquoise" fill="outline" (click)="resetFilter()">Reset</ion-button>
    </div>
  </div>
  <ion-card *ngFor="let item of items" routerLink= '/item-details/{{item.id}}'>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar style="margin: auto;">
            <img *ngIf="item.photo" [src]="item.photo">
            <img *ngIf="!item.photo" src="../../../assets/images/item.png">
          </ion-avatar>
        </ion-col>
        <ion-col>
          {{item.name}}
          {{item.price}}
        </ion-col>
        <ion-col style="align-self: flex-end;">
          <ion-icon *ngFor='let i of counter(item.rating)' name='star'></ion-icon>
          <ion-icon *ngIf='item.rating % 1 != 0 && item.rating!=0' name="star-half-outline"></ion-icon>
          <ion-icon *ngFor='let i of counter(5-item.rating)' name='star-outline'></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
