<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Welcome</ion-list-header>
          <ion-note>{{username}}</ion-note>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/consumer-home" routerDirection= "forward" *ngIf="uType=='Consumer'" >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item  lines="none" detail="false" routerLink="/admin-home" routerDirection= "forward" *ngIf="uType=='Admin'" >
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"  *ngIf="uType != 'Receiver'" >
            <ion-item  lines="none" detail="false" routerLink="/edit-profile" routerDirection= "forward" >
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Edit Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/terms-and-conditions/{{uType}}" routerDirection= "forward">
              <ion-icon slot="start" name="document-text-outline"></ion-icon>
              <ion-label>Terms and Condiitons</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/welcome" (click)="logout()" >
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
