<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Welcome</ion-list-header>
          <ion-note style="color: #86c8be;">{{username}}</ion-note>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/consumer-home" routerDirection= "forward" *ngIf="uType=='Consumer'" >
              <ion-icon slot="start" name="home-outline" color="lturquoise"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item  lines="none" detail="false" routerLink="/merchant-home" routerDirection= "forward" *ngIf="uType=='Merchant'" >
              <ion-icon slot="start" name="person-outline" color="lturquoise"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item  lines="none" detail="false" routerLink="/future" routerDirection= "forward">
              <ion-icon slot="start" name="medical-outline" color="lturquoise"></ion-icon>
              <ion-label>Future Products</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/cart" *ngIf="uType=='Consumer'" >
              <ion-icon slot="start" name="cart-outline" color="lturquoise"></ion-icon>
              <ion-label>Cart</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/wishlist" *ngIf="uType=='Consumer'" >
              <ion-icon slot="start" name="heart-outline" color="lturquoise"></ion-icon>
              <ion-label>Wishist</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/best-seller" *ngIf="uType=='Consumer'" >
              <ion-icon slot="start" name="star-outline" color="lturquoise"></ion-icon>
              <ion-label>Best Seller</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"  *ngIf="uType != 'Receiver'" >
            <ion-item  lines="none" detail="false" routerLink="/edit-profile" routerDirection= "forward" *ngIf="uType=='Consumer'">
              <ion-icon slot="start" name="person-outline" color="lturquoise"></ion-icon>
              <ion-label>Edit Profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/statistics" routerDirection= "forward" *ngIf="uType=='Merchant'">
              <ion-icon slot="start" name="document-text-outline" color="lturquoise"></ion-icon>
              <ion-label>Statistics</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/t-c" routerDirection= "forward">
              <ion-icon slot="start" name="document-text-outline" color="lturquoise"></ion-icon>
              <ion-label>Terms and Condiitons</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/settings" routerDirection= "forward">
              <ion-icon slot="start" name="settings-outline" color="lturquoise"></ion-icon>
              <ion-label>settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item  lines="none" detail="false" routerLink="/welcome" (click)="logout()" >
              <ion-icon slot="start" name="log-out-outline" color="lturquoise"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
