.rangeInput{
  //max-width: min-content;
  width: 47px;
  text-align: center;
}
.centerItems{
  text-align-last: center;
}
.smallInput{
  max-width: 10% !important;
  align-items: center;
  text-align: center;
}
