<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button *ngIf="uType=='Consumer'" defaultHref= '/consumer-home'></ion-back-button>
      <ion-back-button *ngIf="uType=='Merchant'" defaultHref= '/merchant-home'></ion-back-button>
    </ion-buttons>
    <ion-title>item-details</ion-title>
  </ion-toolbar>
</ion-header>

<!---------------------------------------------------------Merchant--------------------------------------------------------->
<ion-content *ngIf="uType=='Merchant'">
  <div>
    <ion-card >
      <ion-card-content> 
      <div>
        <ion-avatar style="margin: auto;">
          <img *ngIf="photo" [src]="photo">
        </ion-avatar> 
        <ion-input type="file" (change)="HandleFileSelect($event)"></ion-input>
      </div>
    </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <form [formGroup]="validations_form">
  
      <ion-card>
        <ion-card-content>
            <ion-item >
              <ion-label position="floating">Name</ion-label>
              <ion-input [(ngModel)]="name" type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Type</ion-label>
              <ion-input type="text" [(ngModel)]="type" formControlName="type"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.type">
                <div class="error-message" *ngIf="validations_form.get('type').hasError(validation.type) && (validations_form.get('type').dirty || validations_form.get('type').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Price</ion-label>
              <ion-input type="text" [(ngModel)]="price" formControlName="price"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.price">
                <div class="error-message" *ngIf="validations_form.get('price').hasError(validation.type) && (validations_form.get('price').dirty || validations_form.get('price').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item >
              <ion-label position="floating">Quantity</ion-label>
              <ion-input [(ngModel)]="quantity" type="number" formControlName="quantity"></ion-input>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.quantity">
                <div class="error-message" *ngIf="validations_form.get('quantity').hasError(validation.type) && (validations_form.get('quantity').dirty || validations_form.get('quantity').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea [(ngModel)]="description" formControlName="description"></ion-textarea>
            </ion-item>
            <div class="validation-errors" style="text-align: center;" >
              <ng-container *ngFor="let validation of validation_messages.description">
                <div class="error-message" *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
           
            <div style="text-align: center;">
              <ion-button type="submit" expand="block" [disabled]="!validations_form.valid" (click)="upadteItem()">Update</ion-button>
            </div>
            <ion-button *ngIf="uType=='Merchant' && status== 'Available'" expand="block" color="danger" (click)="Delete()">Delete</ion-button>
            <ion-button *ngIf="uType=='Merchant' && status== 'Unavailable'" expand="block" (click)="Recovery()">Recover</ion-button>
          </ion-card-content>
        </ion-card>
      </form>  
  </ion-card>
</ion-content>
<!---------------------------------------------------------Consumer--------------------------------------------------------->
<ion-content *ngIf="uType=='Consumer'">
  <ion-card>
    <br/>
    <ion-avatar style="margin: auto; height: 100px; width: 100px;">
      <img *ngIf="photo" [src]="photo">
      <img *ngIf="!photo" src="../../../assets/images/item.png">
    </ion-avatar> 
    <ion-card-content>
      <ion-item>
        <ion-label>Name: {{name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Type: {{type}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price: {{price}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quantity: {{quantity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Description: {{description}}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button *ngIf="uType=='Consumer'" expand="block">add to cart</ion-button>
    <ion-button *ngIf="uType=='Consumer'" expand="block">add to wishlist</ion-button>
    </ion-card>
</ion-content>
