<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref= '/consumer-home'></ion-back-button>
    </ion-buttons>
    <ion-title>Best Seller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of Bestitems" routerLink= '/item-details/{{item.id}}'>
    <ion-badge style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" color="danger" padding="start">Best</ion-badge>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar style="margin: auto;">
            <img *ngIf="item.photo" [src]="item.photo">
            <img *ngIf="item.photo==null" src="../../../assets/images/item.png">
          </ion-avatar> 
        </ion-col>
        <ion-col>
          {{item.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<ion-card id="myCard" >
  <ion-row>
  <ion-col>
  here is our best seller products! 
  We have selected these best things
  to sell here in our application. 
</ion-col>
</ion-row>
</ion-card>
<ion-button type="submit" expand="block"  (click)="animation()">Why??</ion-button>
</ion-content>