<ion-header>
  <ion-toolbar>
    <ion-title>item-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar style="margin: auto; height: 100px; width: 100px;">
      <img *ngIf="photo" [src]="photo">
      <img *ngIf="photo==null" src="../../../assets/images/item.png">
    </ion-avatar> 
    <ion-card-content>
      <ion-item>
        <ion-label>Name: {{name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Type: {{type}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price: {{price}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quantity: {{quantity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Description: {{description}}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button>add to cart</ion-button>
    <ion-button>add to wishlist</ion-button>
  </ion-card>
</ion-content>
