<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="language=='English'">Forget Password</ion-title>
    <ion-title *ngIf="language=='عربي'">نسيت كلمة المرور</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-card *ngIf="language=='English'">
      <ion-card-content style="text-align: center;">
        <ion-label>Please enter email address associated with your account. An email with the password reset link will be sent to you to reset password</ion-label>
        <br>
        <ion-item>
          <ion-label position="floating" >Send an email to</ion-label>
          <ion-input [(ngModel)] = "email"></ion-input>
        </ion-item>
        <div style="text-align: center;">
          <ion-button type="submit" expand="block" (click)="sendEmail()">Send Email</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="language=='عربي'">
      <ion-card-content style="text-align: center;">
        <ion-label>الرجاء ادخال  البريد الالكتروني المرتبط بحسابك، سوف يصلك بريد لاعادة تعيين كلمة المرور</ion-label>
        <br>
        <ion-item>
          <ion-label position="floating" style="text-align: right;">ارسال بريد الى</ion-label>
          <ion-input [(ngModel)] = "email"></ion-input>
        </ion-item>
        <div style="text-align: center;">
          <ion-button type="submit" expand="block" (click)="sendEmail()">ارسل</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
